
.body{
    &__container{
        display: flex;
        flex-direction: column;
        max-width: 1250px;
        margin: 0 auto;
        box-shadow: 0 0 10px #0005;
    }
}


.content__container{
    @include flex-center;
    justify-content: space-evenly;
    position: relative;
}

