/* CONTAINERS */

.body__container{
        @include flex-column;
        max-width: $width-store-ctnr;
        margin: 0 auto;
        box-shadow: $box-shadow-cards;
}


.content__container{
    @include flex-column;
    justify-content: space-evenly;
}

