.explore{
    @include flex-column;
    padding: 30px 20px;
    background-color: $clr-background;
    @include mq-tablet{
        align-items: start;
    }
    @include mq-desktop{
        padding: 30px 60px;
    }
}