.explore{
    @include flex-column;
    height: 210px;
    background-color: $clr-background;
    animation: body-fadeIn $body-duration forwards;
    @include mq-tablet{
        align-items: start;
    }
    &__content{
        min-width: 260px;
        height: 100%;
        @include flex-column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 10px;
        @include mq-tablet{
            padding-left: 20px;
            align-items: start;
        }
        @include mq-desktop{
            padding-left: 40px;
        }
    }
}