/* SECTION HEADER */

.header{
    &__content{
        animation: body-fadeIn $body-duration forwards;
    }
    &__nav{
        @include flex-center-wrap;
        @include mq-tablet{
            justify-content: space-between;
            padding: 10px 20px;
        }
        @include mq-desktop{
            padding: 10px 40px 10px 10px;
        }
    }
    &__logo{
        @include flex-center;
        width: 100%;
        @include mq-tablet{
            width: unset;
        }
        &__link{
            @include size-100;
            @include flex-center;
            padding: 15px 30px 10px;
        }
    }
    &__form{
        @include flex-center;
        width: fit-content;
        &--2{
            transform: translateX(50px);
        }
    }
    &__previous{
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 20px;
    }
    &__others{
        @include flex-center;
        width: 100%;
        @include mq-tablet{
            width: 480px;
        }
    } 
    &__localisation,&__localisation--2{
        overflow: hidden;
        @include flex-center;
        width: 100%;
        padding: 15px;
        background-color: $clr-bg-map;
        -webkit-box-shadow: $box-shadow-inset;
        box-shadow: $box-shadow-inset;
        @include mq-tablet{
            width: 355px;
        }
    }
    &__localisation--2{
        display: none;
        @include mq-tablet{
            display: flex;
            justify-content: end;           
        }
    }
    &__address{
        position: relative;
        border: none;
        background-color: $clr-bg-map;
        &:focus{
            outline: none;
        }
    }
}