// SECTION MAIN //


// MAIN INFO
.main__info{
    @include flex-column;
    justify-content: center;
    padding: 30px 20px;
    @include mq-desktop{
        padding: 30px 60px;
    }
    &__items{
        @include flex-column;
        width: 100%;
        @include mq-desktop{
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    &__item{
        position: relative;
        width: 100%;
        min-width: 270px;
        margin: 12px 10px;
        padding: 20px;
        border-radius: 20px;
        background-color: $clr-background;
        box-shadow: $box-shadow;
        @include mq-tablet{
            width: 50%;
        }
        @include mq-desktop{
            width: 285px;
            padding-right: 25px;
        }
    }
    &__item:hover{
        background-color: $clr-pink;
        cursor: default;
    }
}

// SECTION FILTRES & RESTAURANTS
.main__content{
    @include mq-desktop{
        display: flex;
        padding: 0 40px 40px;
    }
}

// Filtres
.main__aside{
    display: none;
    background-color: $clr-background;
    border-radius: 20px;
    padding: 0 20px;
    @include mq-desktop{
        display: block;
        width: 330px;
        margin-right: 20px;
    }
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__item{
        margin: 2px 0;
        height: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__check{
        margin-right: 10px;
        width: 1.7rem;
        height: 1.7rem;
    }
    &__section{
        margin: 20px 0 40px;
    }
}

// Restaurants
.main__restaurants{
    width: 100%;
    padding: 30px 20px;
    background-color: $clr-background;
    @include mq-tablet{
        &__items{
            @include flex-center-wrap;
            justify-content: space-between;
        }
    }
    @include mq-desktop{
        padding: 20px 20px 0;
        border-radius: 20px;
    }        
}


// MAIN CARDS
.main__cards{
    position: relative;

    width: 100%;    
    height: 250px;   
    margin-bottom: 25px;

    border-radius: 20px;
    box-shadow: $box-shadow-cards;
    background-color: $clr-white;
    transition: transform .2s ease-in-out;
    @include mq-tablet{
        width: calc(50% - 10px);
    }
    &__content{
        @include flex-center;
        justify-content: space-between;
        position: relative;
        height: 80px;
        padding: 0 15px;
    }
    &__description{
        width: 90%;
        height: 100%;
    }
    &__title{
        height: 40%;
        padding-top: 15px;
    }
    &__town{
        height: 35%;
        margin-top: 5px;
    }
    &__links{
        height: 175px;
    }
    &__picture{
        position: relative;
        display: block;
        height: 100%;
    }
    &__img{
        width: 100%;
        height: 100%;  
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    &:hover{
        box-shadow: $box-shadow-cards-hover;
        transform: scale(1.01);
    }
}


//INFO - NOUVEAU
#main__card1::before,
#main__card2::before,
#main__card1--en::before,
#main__card2--en::before{
    @include flex-center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .07em;
    border-radius: 3px;
    color: $clr-green;
    background-color: $clr-tertiary;
}

#main__card1::before,
#main__card2::before{
    content: 'Nouveau';
}

#main__card1--en::before,
#main__card2--en::before{
    content: 'New';
}


// PAGE RESTAURANT
.main__cards__img--2{
    border-radius: unset;
}