.header{
    &__nav{
        @include flex-center;
        flex-wrap: wrap;
    }
    &__logo{
        padding: 15px 30px 10px;
        &__img{
            height: 30px;
        }
    }
    &__logo a{
        display: block;
        width: 100%;
        height: 100%;
    }
    &__localisation{
        @include flex-center;
        width: 100%;
        height: 50px;
        background-color: #eaeaea;
        -webkit-box-shadow: inset 0px 19px 7px -11px rgba(0,0,0,0.28);
        box-shadow: inset 0px 11px 7px -11px rgba(0,0,0,0.28);
    }
    &__address{
        position: relative;
        border: none;
        background-color: #eaeaea;
        color: #555;
        font-weight: 600;
        font-size: 1.2rem;
        &:focus{
            outline: none;
        }
    }
    &__form{ 
        position: relative;
        display: flex;
        height: 70%;
    }
    &__form::before{
        position: absolute;
        top: 50%;
        left: -30px;
        transform: translateY(-50%);
        font-family: "Font Awesome 5 Free";
        color: #353535;
        font-size: 1.4rem;
        font-weight: 900;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f3c5";
        z-index: 2;
    }
    &__explore{
        @include flex-column;
        padding: 30px 30px 50px;
        text-align: center;
        background-color: #f6f6f6;
    }
}


h1{
    font-size: 1.6rem;
    max-width: 220px;
    margin-bottom: 10px;
}

h2{
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.section{
    &__title{
        font-size: 1.8rem;
        font-weight: 900;
        align-self: start;
        margin-bottom: 12px;
    }
}

// MAIN

.main{
    &__aside{
        display: none;
    }
    &__info{
        @include flex-column;
        justify-content: center;
        padding: 30px 20px;
        &__items{
            @include flex-column;
            width: 100%;
        }
        &__item{
            position: relative;
            width: 100%;
            margin: 12px 0;
            padding: 20px;

            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            border-radius: 20px;
            background-color: #f6f6f6;
            box-shadow: 0px 5px 10px .1px #0003;
        }
        &__item::before{
            position: absolute;
            top: 50%;
            left: 12%;
            transform: translateY(-50%);
            font-family: "Font Awesome 5 Free";
            color: #7e7e7e;
            font-size: 1.4rem;
            font-weight: 900;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        &__item::after{
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            color: #fff;
            font-weight: 400;
            font-size: 1rem;
            background-color: #9356dc;
            @include flex-center;
        }
    }
    &__restaurants{
        width: 100%;
        padding: 30px 20px;
        background-color: #f6f6f6;
    }
}

#info__item1::before{content: "\f3cd"}
#info__item2::before{content: "\f0ca"}
#info__item3::before{content: "\f54e"}

#info__item1::after{content: "1"}
#info__item2::after{content: "2"}
#info__item3::after{content: "3"}


.main__card{
    position: relative;

    width: 100%;    
    height: 250px;   
    margin-bottom: 25px;

    border-radius: 20px;
    box-shadow: 0 0 10px #0003;
    background-color: #fff;
    transition: all .3s ease-in-out;
}
.main__card:hover{
    box-shadow: 0 0 10px #0007;
    transform: scale(1.01);
}

.main-cards-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 15px;
}
.main-links{
    height: 175px;
}
.main-cards-title{
    font-size: 1.3rem;
    letter-spacing: .02rem;
}
.main-cards-title:hover,
.main-town:hover{
    text-decoration: underline;
}

.main-picture{
    position: relative;
    display: block;
    height: 100%;
}
.main-img{
    width: 100%;
    height: 100%;  
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
#main__card1::before,
#main__card2::before{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Nouveau';
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .07em;
    color: #008766;
    background-color: #99E2D0;
    border-radius: 3px;
}

a{
    display: block;
    color: unset;
    text-decoration: none;
}
a.main-town{
    font-weight: 200;
}

.fa-heart{
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: .1rem;
    color: #111;
    font-size: 25px;

    @include flex-center;
    width: 30px;
    height: 30px;

    cursor: pointer;

    transition: all .3s ease-in-out;
}

#heart__check1,
#heart__check2,
#heart__check3,
#heart__check4{
    display: none;
    position: relative;
    right: 70px;
    transition: all .5s ease-in-out;
}

#heart__check1:checked ~ .heart__label  #fa-heart-1,
#heart__check2:checked ~ .heart__label  #fa-heart-2,
#heart__check3:checked ~ .heart__label  #fa-heart-3,
#heart__check4:checked ~ .heart__label  #fa-heart-4{
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.heart-big{
    position: absolute;
    top: -100%;
    left: 50%;
    @include flex-center;
}

.heart-big::before{
    position: absolute;
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-size: 2rem;
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    color: rgb(255, 5, 101);
    
    opacity: 0;
    transition: opacity .5s;
}
#heart__check1:checked ~ .heart-big::before,
#heart__check2:checked ~ .heart-big::before,
#heart__check3:checked ~ .heart-big::before,
#heart__check4:checked ~ .heart-big::before{
    animation: heart-big .7s backwards
}

@keyframes heart-big {
    0%{
        opacity: 0;
        font-size: 2rem;
    };
    50%{
        opacity: 1;
        font-size: 7rem;
    };
    75%{
        opacity: 1;
        font-size: 7rem;
    };
    100%{
        opacity: 0;
        font-size: 7rem;
    };
}





// FOOTER
.footer{
    padding: 20px;
    background-color: #353535;
    color: #fff;
}
.footer__logo{
    height: 20px;
    margin: 10px 0;
}
.fa-utensils,
.fa-hands-helping{
    margin-right: 7px;
    font-size: 13px;
}

.footer__item{
    margin-bottom: 5px;
}
.footer__item:hover{
    text-shadow: 0 0 3px #fff;
}



@media screen and (min-width: 768px) {
    
}