

.header{
    &__nav{
        @include flex-center;
        flex-wrap: wrap;
        @include mq-tablet{
            justify-content: space-between;
            padding: 10px 30px 10px 0;
        }
        @include mq-desktop{
            padding: 10px 40px 10px 10px;
        }
    }
    &__logo{
        padding: 15px 30px 10px;
        &__img{
            height: 30px;
        }
    }
    &__logo a{
        display: block;
        @include size-100;
    }
    &__localisation{
        @include flex-center;
        width: 100%;
        height: 50px;
        background-color: $clr-bg-map;
        -webkit-box-shadow: $box-shadow-inset;
        box-shadow: $box-shadow-inset;
        @include mq-tablet{
            width: 355px;
        }
    }
    &__form{
        transform: translateX(50px);
    }
    &__address{
        position: relative;
        border: none;
        background-color: $clr-bg-map;

        color: $clr-grey-dark;
        font-weight: 600;
        font-size: 1.2rem;

        &:focus{
            outline: none;
        }
    }
    &__form{ 
        position: relative;
        display: flex;
        height: 70%;
    }
    &__form::before{
        @include icon-pseudo-element;
        content: "\f3c5";
        @include center-trans-y;
        left: -30px;

        color: $clr-grey-dark;
        font-size: 1.4rem;
    }

    &__explore{
        @include flex-column;
        padding: 30px 30px 50px;
        text-align: center;
        background-color: $clr-background;
        @include mq-tablet{
            align-items: start;
            text-align: left;
        }
    }
}


h1{
    font-size: 1.6rem;
    max-width: 220px;
    margin-bottom: 10px;
}

h2{
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.section{
    &__title{
        font-size: 1.8rem;
        font-weight: 900;
        align-self: start;
        margin-bottom: 12px;
    }
}

// MAIN

.main{
    &__aside{
        display: none;
        @include mq-desktop{
            display: block;
            width: 330px;
            margin-right: 20px;
        }
        &__form{
            display: flex;
            flex-direction: column;
        }
        &__item{
            margin: 2px 0;
            height: 30px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        &__check{
            margin-right: 10px;
            width: 17px;
            height: 17px;
        }
        &__section{
            margin-top: 20px;
        }
    }
    &__content{
        @include mq-desktop{
            display: flex;
            padding: 0 40px 40px;
        }
    }
    &__info{
        @include flex-column;
        justify-content: center;
        padding: 30px 20px;
        &__items{
            @include flex-column;
            width: 100%;
            @include mq-desktop{
                flex-direction: row;
                justify-content: center;
            }
        }
        &__item{
            position: relative;
            width: 100%;
            margin: 12px 0;
            padding: 20px;

            font-size: 1.3rem;
            font-weight: bold;
            text-align: center;
            border-radius: 20px;
            background-color: #f6f6f6;
            box-shadow: 0px 5px 10px .1px #0003;
            @include mq-tablet{
                width: 50%;
            }
            @include mq-desktop{
                width: 300px;
            }
        }
        &__item::before{
            position: absolute;
            top: 50%;
            left: 12%;
            transform: translateY(-50%);
            font-family: "Font Awesome 5 Free";
            color: #7e7e7e;
            font-size: 1.4rem;
            font-weight: 900;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        &__item::after{
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            color: #fff;
            font-weight: 400;
            font-size: 1rem;
            background-color: #9356dc;
            @include flex-center;
        }
        &__item:hover{
            background-color: #f5edff;
            cursor: default;
        }
        &__item:hover::before{
            color: #9356dc;
        }
    }
    &__restaurants{
        width: 100%;
        padding: 30px 20px;
        background-color: #f6f6f6;
        @include mq-tablet{
            &__items{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        @include mq-desktop{
            padding: 20px 20px 0;
            border-radius: 10px;
        }
        
    }
}

#info__item2{
    @include mq-desktop{
        margin: 0 60px;
    }
}

#section_title__filters{
    margin-top: 40px;
}



#info__item1::before{content: "\f3cd"}
#info__item2::before{content: "\f0ca"}
#info__item3::before{content: "\f54e"}

#info__item1::after{content: "1"}
#info__item2::after{content: "2"}
#info__item3::after{content: "3"}


.main__card{
    position: relative;

    width: 100%;    
    height: 250px;   
    margin-bottom: 25px;

    border-radius: 20px;
    box-shadow: 0 0 10px #0003;
    background-color: #fff;
    transition: all .3s ease-in-out;
    @include mq-tablet{
        width: calc(50% - 10px);
    }

}
.main__card:hover{
    box-shadow: 0 0 10px #0007;
    transform: scale(1.01);
}

.main-cards-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 15px;
}
.main-links{
    height: 175px;
}
.main-cards-title{
    font-size: 1.3rem;
    letter-spacing: .02rem;
}
.main-cards-title:hover,
.main-town:hover{
    text-decoration: underline;
}

.main-picture{
    position: relative;
    display: block;
    height: 100%;
}
.main-img{
    width: 100%;
    height: 100%;  
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
#main__card1::before,
#main__card2::before{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Nouveau';
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .07em;
    color: #008766;
    background-color: #99E2D0;
    border-radius: 3px;
}

a{
    display: block;
    color: unset;
    text-decoration: none;
}
a.main-town{
    font-weight: 200;
}

// .fa-heart{
//     background-image: linear-gradient(to top, #9356DC, #FF79DA);
//     background-size: cover;
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: #fff;
//     -webkit-text-stroke-width: .1rem;
//     color: #111;
//     font-size: 25px;

//     @include flex-center;
//     width: 30px;
//     height: 30px;

//     cursor: pointer;

//     transition: all .3s ease-in-out;
// }

// .fa-heart{
//     background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
//     background-image: -o-linear-gradient(bottom, #9356DC, #FF79DA);
//     background-image: linear-gradient(to top, #9356DC, #FF79DA);
//     background-size: cover;
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: #fff;
//     -webkit-text-stroke-width: .1rem;
//     color: #111;
//     font-size: 25px;

//     @include flex-center;
//     width: 30px;
//     height: 30px;

//     cursor: pointer;

//     -webkit-transition: all .3s ease-in-out;

//     -o-transition: all .3s ease-in-out;

//     transition: all .3s ease-in-out;
// }

 //
.fa-heart{
    position: absolute;
    right: 20px;
    top: 10px;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
#heart--grey{
    background-image: unset;
    color: #ccc;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    font-size: 25px;
    z-index: 2;
}
.fa-heart::before{
    @include flex-center;
    width: 30px;
    height: 30px;
}
#heart--pink{
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: .1rem;
    color: transparent;
    font-size: 25px;
    font-size: 26px;
    opacity: 0;
}

#heart__check{
    display: none;
}
#heart__check:checked ~ .heart__label #heart--grey{
    color: transparent;
    -webkit-text-fill-color: transparent;
}
#heart__check:checked ~ .heart__label #heart--pink{
    opacity: 1;
}
//

#heart__check1,
#heart__check2,
#heart__check3,
#heart__check4{
    // display: none;
    // position: relative;
    // right: 70px;
    // transition: all .5s ease-in-out;
    display: none;
    position: relative;
    right: 70px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#heart__check1:checked ~ .heart__label  #fa-heart-1,
#heart__check2:checked ~ .heart__label  #fa-heart-2,
#heart__check3:checked ~ .heart__label  #fa-heart-3,
#heart__check4:checked ~ .heart__label  #fa-heart-4{
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.heart-big{
    position: absolute;
    top: -100%;
    left: 50%;
    @include flex-center;
}

.heart-big::before{
    position: absolute;
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-size: 2rem;
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    color: rgb(255, 5, 101);
    
    opacity: 0;
    transition: opacity .5s;
}
#heart__check1:checked ~ .heart-big::before,
#heart__check2:checked ~ .heart-big::before,
#heart__check3:checked ~ .heart-big::before,
#heart__check4:checked ~ .heart-big::before{
    animation: heart-big .7s backwards
}

@keyframes heart-big {
    0%{
        opacity: 0;
        font-size: 2rem;
    };
    50%{
        opacity: 1;
        font-size: 7rem;
    };
    75%{
        opacity: 1;
        font-size: 7rem;
    };
    100%{
        opacity: 0;
        font-size: 7rem;
    };
}





// FOOTER
.footer{
    padding: 20px 0 20px 30px;
    background-color: #353535;
    color: #fff;
    &__logo{
        height: 20px;
        margin: 10px 0;
        @include mq-desktop{
            margin-left: 50px;
        }
    }
    &__content{
        @include mq-desktop{
            display: flex;
        }
    }
    &__items{
        @include mq-desktop{
            margin-left: 100px;
        }
    }
    &__item{
        margin-bottom: 5px;
        &:hover{
            text-shadow: 0 0 3px #fff;
        }
    }
}

.fa-utensils,
.fa-hands-helping{
    margin-right: 7px;
    font-size: 13px;
}



#section_title__date{
    @include mq-desktop{
        // margin-bottom: 0;
    }
}