*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 100;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
}

.header__button {
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 0.1px #0003;
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
  background: linear-gradient(to top, #9356DC, #FF79DA);
}
.header__button:hover {
  filter: brightness(1.1);
}

.nav {
  padding-right: 6rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: #D6FFF5;
}
.nav__link--active {
  color: #001534;
}
.nav__link--active:hover {
  cursor: default;
  color: #001534;
}
.nav__link a:hover {
  color: #fff;
}

.container {
  margin: 6rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border: 0.1rem solid #D6FFF5;
}

.body__container {
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  padding-bottom: 1.5rem;
}
.form__heading {
  width: 100%;
  color: #fff;
  text-shadow: 0.55rem 0.55rem #11af82;
  background: #15DEA5;
  line-height: 5rem;
  padding: 1.5rem;
}
.form__field label {
  color: #D6FFF5;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}
.form__field input {
  width: 100%;
  background: #001534;
  border: 0.1rem solid #15DEA5;
  padding: 1.5rem;
  color: #D6FFF5;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
  border: 0.1rem solid #15DEA5;
  background-color: #001534;
  color: #15DEA5;
}
.form__field textarea {
  width: 100%;
  color: #15DEA5;
  background: #001534;
  border: 0.1rem solid #15DEA5;
  outline: none;
  padding: 1.5rem;
  margin-bottom: 0.75rem;
}

.quote {
  text-align: right;
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
  color: #D6FFF5;
  margin: 2rem 6rem -3rem 6rem;
}
.quote strong {
  color: #15DEA5;
}

.proj-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
}

.proj-prev {
  color: #fff;
  margin-bottom: 1.5rem;
}
.proj-prev__image {
  margin: 0;
  opacity: 0.2;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.proj-prev__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.proj-prev__heading {
  font-size: 4rem;
  padding-left: 2.5rem;
  margin: 0;
  line-height: 6rem;
}
.proj-prev__byline {
  padding-left: 2.5rem;
  font-size: 1.66rem;
}
.proj-prev:hover {
  cursor: pointer;
}
.proj-prev:hover > .proj-prev__heading {
  background: #15DEA5;
}
.proj-prev:hover > .proj-prev__image {
  opacity: 1;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, auto);
  padding: 1.5rem;
  grid-template-areas: "imagery heading" "imagery copy" "imagery btn";
  margin-bottom: 1.5rem;
}
.about__heading {
  grid-area: heading;
  color: #fff;
  text-shadow: 0.55rem 0.55rem #11af82;
  text-align: right;
  padding-right: 1.5rem;
}
.about__imagery {
  grid-area: imagery;
}
.about__pic {
  overflow: hidden;
  width: 80%;
  border-radius: 1000rem;
  border: 1.5rem solid #15DEA5;
}
.about__pic img {
  display: block;
  width: 100%;
}
.about__copy {
  grid-area: copy;
}
.about__copy p {
  line-height: 2.4rem;
  margin-bottom: 3.375rem;
}
.about__btn {
  padding: 1.5rem;
  border: 0.1rem solid #15DEA5;
  color: #15DEA5;
  background: #001534;
  cursor: pointer;
  grid-area: btn;
}
.about__btn:hover {
  background: #15DEA5;
  color: #D6FFF5;
}
.about__btn--full-width {
  width: 100%;
  margin: 0 auto;
}
.about__btn a {
  text-decoration: none;
}

.project {
  width: 100%;
  margin-bottom: 1.8rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1.5rem;
  grid-template-areas: "image synopsis" "tags synopsis" "btn btn";
}
.project__image {
  grid-area: image;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.project__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.project__synopsis {
  grid-area: synopsis;
  padding-left: 1.5rem;
}
.project__synopsis h1 {
  color: #fff;
  text-shadow: 0.55rem 0.55rem #11af82;
}
.project__synopsis p {
  line-height: 2.5rem;
}
.project__tags {
  grid-area: tags;
}
.project__tags p {
  color: #fff;
}
.project__tags p strong {
  color: #15DEA5;
  font-weight: 900;
  font-style: italic;
}
.project__btn {
  padding: 1.5rem;
  border: 0.1rem solid #15DEA5;
  color: #15DEA5;
  background: #001534;
  cursor: pointer;
  grid-area: btn;
}
.project__btn:hover {
  background: #15DEA5;
  color: #D6FFF5;
}
.project__btn--full-width {
  width: 100%;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header__logo {
  padding: 15px 30px 10px;
}
.header__logo__img {
  height: 30px;
}
.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 19px 7px -11px rgba(0, 0, 0, 0.28);
  box-shadow: inset 0px 11px 7px -11px rgba(0, 0, 0, 0.28);
}
.header__address {
  position: relative;
  border: none;
  background-color: #eaeaea;
  color: #555;
  font-weight: 600;
  font-size: 1.2rem;
}
.header__address:focus {
  outline: none;
}
.header__form {
  position: relative;
  display: flex;
  height: 70%;
}
.header__form::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  color: #353535;
  font-size: 1.4rem;
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f3c5";
  z-index: 2;
}
.header__explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 50px;
  text-align: center;
  background-color: #f6f6f6;
}

h1 {
  font-size: 1.6rem;
  max-width: 220px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.section__title {
  font-size: 1.8rem;
  font-weight: 900;
  align-self: start;
  margin-bottom: 12px;
}

.main__aside {
  display: none;
}
.main__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
}
.main__info__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main__info__item {
  position: relative;
  width: 100%;
  margin: 12px 0;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 5px 10px 0.1px #0003;
}
.main__info__item::before {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  color: #7e7e7e;
  font-size: 1.4rem;
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.main__info__item::after {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__restaurants {
  width: 100%;
  padding: 30px 20px;
  background-color: #f6f6f6;
}

#info__item1::before {
  content: "\f3cd";
}

#info__item2::before {
  content: "\f0ca";
}

#info__item3::before {
  content: "\f54e";
}

#info__item1::after {
  content: "1";
}

#info__item2::after {
  content: "2";
}

#info__item3::after {
  content: "3";
}

.main__card {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 0 0 10px #0003;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.main__card:hover {
  box-shadow: 0 0 10px #0007;
  transform: scale(1.01);
}

.main-cards-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 15px;
}

.main-links {
  height: 175px;
}

.main-cards-title {
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
}

.main-cards-title:hover,
.main-town:hover {
  text-decoration: underline;
}

.main-picture {
  position: relative;
  display: block;
  height: 100%;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#main__card1::before,
#main__card2::before {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Nouveau";
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.07em;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 3px;
}

a {
  display: block;
  color: unset;
  text-decoration: none;
}

a.main-town {
  font-weight: 200;
}

.fa-heart {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 0.1rem;
  color: #111;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#heart__check1,
#heart__check2,
#heart__check3,
#heart__check4 {
  display: none;
  position: relative;
  right: 70px;
  transition: all 0.5s ease-in-out;
}

#heart__check1:checked ~ .heart__label #fa-heart-1,
#heart__check2:checked ~ .heart__label #fa-heart-2,
#heart__check3:checked ~ .heart__label #fa-heart-3,
#heart__check4:checked ~ .heart__label #fa-heart-4 {
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.heart-big {
  position: absolute;
  top: -100%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-big::before {
  position: absolute;
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #ff0565;
  opacity: 0;
  transition: opacity 0.5s;
}

#heart__check1:checked ~ .heart-big::before,
#heart__check2:checked ~ .heart-big::before,
#heart__check3:checked ~ .heart-big::before,
#heart__check4:checked ~ .heart-big::before {
  animation: heart-big 0.7s backwards;
}

@keyframes heart-big {
  0% {
    opacity: 0;
    font-size: 2rem;
  }
  50% {
    opacity: 1;
    font-size: 7rem;
  }
  75% {
    opacity: 1;
    font-size: 7rem;
  }
  100% {
    opacity: 0;
    font-size: 7rem;
  }
}
.footer {
  padding: 20px;
  background-color: #353535;
  color: #fff;
}

.footer__logo {
  height: 20px;
  margin: 10px 0;
}

.fa-utensils,
.fa-hands-helping {
  margin-right: 7px;
  font-size: 13px;
}

.footer__item {
  margin-bottom: 5px;
}

.footer__item:hover {
  text-shadow: 0 0 3px #fff;
}

/*# sourceMappingURL=style.css.map */
