/* BUTTONS */

//SWITCH LANGUAGE
.switch__lang{
    &__form{
        display: none;
        @include mq-tablet{
            display: flex;
            padding: 7px;
        }
    }
    &__check{
        display: none;
    }
    &__item{
        margin: 0 10px;
        height: 32px;
        & img{
            opacity: .3;    
            transition: opacity .3s ease-out;
        }
        & img:hover{
            opacity: .5;
            cursor: pointer;
            transition: opacity .1s ease-out;
        }

    }
}

//SWITCH LANGUAGE BUTTONS
#english:checked ~ * [id*="--en"],
#french:checked ~ * [id*="--fr"],
#spanish:checked ~ * [id*="--sp"],
.switch__lang__check:checked ~ .switch__lang__item img:hover{
    opacity: 1;
}

//SWITCH LANGUAGE FOR TEXT
[class*="-text"]{
    display: none !important; 
}

#english:checked ~ * [class*="en-text"],
#french:checked ~ * [class*="fr-text"],
#spanish:checked ~ * [class*="sp-text"]{
    display: unset !important; 
}


// BOUTON 'Explorer' et 'Commander'
.menu__button,
.explore__button{
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    box-shadow: $box-shadow;
    color: $clr-white;
    font-weight: 500;
    font-size: 1.625rem;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to top, $clr-primary, $clr-secondary);
    transition: all .2s ease-in-out;
    &:hover{
        opacity: .85;
        transform: scale(1.01);
        box-shadow: 0px 5px 10px #0007;
    }
}

.menu__button{
    margin: 50px auto;
    width: 200px;
    height: 50px;
    font-weight: 600;
    @include mq-desktop{
        display: none;
    }
    &__container{
        display: flex;
        justify-content: center;
    }
    &--cmd{
        display: block;
    }
}


//HEART & HEART-BIG - Base
.fa-heart{
    position: absolute;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 25px;
    cursor: pointer;
    transition: all .7s ease-out;
    &--grey{
        -webkit-text-fill-color: $clr-background;
        -webkit-text-stroke-width: .1rem;
        color: $clr-grey-dark;
        opacity: 1;
    }
    &--white{
        -webkit-text-fill-color: $clr-white;
    }
    &--pink{
        background-image: linear-gradient(to top, $clr-primary, $clr-secondary);
        -webkit-text-fill-color: transparent;
        color: none;
        opacity: 0;
    }
}

.heart{
    &__form--2{
        @include mq-desktop{
        position: absolute;
        right: 50px;
        }
    }
    &__label{
        @include flex-center;
        position: relative;
        width: 30px;
        height: 30px;
    }
    &__check{
        display: none;
    }
    &-big,&-big-2{
        @include flex-center;
        @include center-pos-absolute;
        display: none;
        position: absolute;
        top: -100%;
        &::before{
            @include icon-pseudo-element;
            position: relative;
            content: "\f004";
            font-size: 2rem;
            color: $clr-red;  
            opacity: 0;
            transition: opacity .5s;
            animation: heart-big .7s backwards;
            }
        }
    &-big-2{
        top: -150px;
        transform: translate(-50%, -50%);
    }
}


//HEART & HEART-BIG - Animation
.heart__check:checked ~ .heart{
    &__label{
        &  .fa-heart--grey{
            opacity: 0;
        }
        &  .fa-heart--pink{
            opacity: 1;
        }
    }
    &-big, &-big-2{
        display: unset;
    }
}
