/* ICONS */

.header{
    &__form::before{
    @include icon-pseudo-element;
    content: "\f3c5";
    @include center-trans-y;
    left: -30px;

    color: $clr-grey-dark;
    font-size: 1.4rem;
    }
}

// MAIN
.main__info{
    &__item::before{
        @include icon-pseudo-element;
        @include center-trans-y;
        left: 12%;
        color: $clr-grey;
        font-size: 1.6rem;
    }
    &__item::after{
        @include flex-center;
        @include center-trans-y;
        position: absolute;
        left: -10px;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        color: $clr-white;
        font-size: 1rem;
        background-color: $clr-primary;
    }
    &__item:hover::before{
        color: $clr-primary;
    }
}

#info__item1::before{content: "\f3cd"}
#info__item2::before{content: "\f0ca"}
#info__item3::before{content: "\f54e"}

#info__item1::after{content: "1"}
#info__item2::after{content: "2"}
#info__item3::after{content: "3"}


// FOOTER
.fa-utensils,
.fa-hands-helping{
    margin-right: 7px;
    font-size: 13px;
}
