/* ICONS */

// HEADER
.fa-map-marker-alt{
    @include icon-pseudo-element;
    position: relative;
    content: "\f3c5";
    top: 0;
    left: 0;
    transform: none;
    color: $clr-grey-dark;
    font-size: 1.75rem;
    margin-right: 10px;

}

.fa-arrow-left{
    @include size-100;
    display: flex;
    &::before{
        @include flex-center;
        font-size: 20px;
        width: 100%;
    }
}

// MAIN
.main__info{
    &__item::after{
        @include round-pseudo-element;
    }
    &__icons{
        color: $clr-grey;
        font-size: 2rem;
        margin-right: 15px;
    }
}

@for $i from 1 to 4 {
    #info__item#{$i}::after{content: "#{$i}"}
}



// FOOTER
.fa-utensils,
.fa-hands-helping{
    margin-right: 7px;
    font-size: 13px;
}


// PAGE RESTAURANT
.fa-check-circle{
    color: $clr-white;
    font-size: 2.5rem;
    transition: transform .4s ease-out;
}