*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
}

a{
    display: block;
    color: unset;
    text-decoration: none;
}

h1{
    max-width: 250px;
    @include mq-tablet{
        max-width: 100%;
    }
    margin-bottom: 10px;
}

h2{
    margin-bottom: 20px;
}

.section__title{
        align-self: start;
        margin-bottom: 12px;
    }

::selection{
    background-color: none;
}

.explore{
    text-align: center;
    @include mq-tablet{
        text-align: left;
    }
}

// LOADER PAGE
.loader__container{
    @include flex-center;
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background-color: #fffa;
    z-index: 30;
    opacity: 0;
}

//SWITCH LANGUAGE
#lang-check,
.en-text{
    display: none;
}
.fr-flag{
    opacity: 0;
    cursor: pointer;
}


#lang-check:checked ~ .explore [class*="fr-text"],
#lang-check:checked ~ .main [class*="fr-text"],
#lang-check:checked ~ .footer span[class*="fr-text"]{
    display: none !important; 
}

#lang-check:checked ~ .explore [class*="en-text"],
#lang-check:checked ~ .main [class*="en-text"],
#lang-check:checked ~ .footer span[class*="en-text"]{
    display: unset !important; 
}

#lang-check:checked ~ header img[class*="fr-flag"]{
    opacity: 1 !important;
}



