// BASE
html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $clr-black-font;
    font-size: 1.75rem;
}

::selection{
    background: none;
}

.section__title, h1{
    font-size: 2.5rem;
    font-weight: 400;
    font-weight: 700;
}

h2{
    font-size: 1.75rem;
    font-weight: 300;
}

.store{
    &__name{
        font-family: 'Shrikhand', sans-serif;
        font-size: 2.75rem;
        font-weight: 400;
        letter-spacing: .15rem;
    }
    &__time{
        font-size: 2rem;
        font-weight: 500;
        color: $clr-tertiary-2;
    }
}


// LOADER
.loader__boxes{
    font-family: 'Shrikhand', sans-serif;
    font-size: 3rem;
    letter-spacing: .2rem;
    color: $clr-secondary;
}

// HEADER
.header{
    &__address{
        color: $clr-grey-dark;
        font-weight: 600;
        font-size: 1.5rem;
    }
}

//EXPLORE
.explore{
    text-align: center;
    @include mq-tablet{
        text-align: left;
    }
}
// MAIN
.main__info{
    &__item{
        font-size: 1.75rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: .03rem;
    }
}

.main__aside{
    &__item{
        font-size: 1.75rem;
    }
}

.main__cards{
    &__title{
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .01rem;
        line-height: 2.15rem;
        &:hover span{
            text-decoration: underline;
        }
    }
    &__town{
        font-size: 1.75rem;
        font-weight: 300;
    }
    &__links:hover ~ .main__cards__content .main__cards__title span{
        text-decoration: underline;
    }
}


// FOOTER
.footer{
    color: $clr-white;
    &__item{
        font-size: 1.625rem;
        &:hover{
            text-shadow: $text-shadow-white;
        }
    }
}


// RESTAURANT PAGE
.store__menu{
    letter-spacing: .01rem;
    color: $clr-black-font;
    &__title{
        font-size: 1.75rem;
    }
    &__description{
        &--1{
            font-size: 1.875rem;
            font-weight: 500;
        }
        &--2{
            font-size: 1.625rem;
        }
    }
    &__price{
        font-size: 1.625rem;
        font-weight: 600;
    }
}