//PAGE RESTAURANT
.store{
    &__name{
        max-width: 100%;
        margin-bottom: 0;
    }
    &__infos{
        position: relative;
        @include mq-desktop{
            position: absolute;
            top: -165px;
            font-size: 2rem;
            color: $clr-white;
            padding: 10px;
            left: 0;
            background-color: #6669;
            border-radius: 15px;
            backdrop-filter: blur(2px);
        }
    }
    &__time{
        display: none;
        @include mq-desktop{
            display: block;
        }
    }
    &__cards{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-width: $width-store-ctnr;
        margin: 0 auto;
    }
}

#store__name--2{
    display: none;
    @include mq-desktop{
        display: block;
    }
}

.store__menu{
    position: relative;
    width: 100%;
    max-width: 460px;
    margin: 0 10px;
    padding: 30px 20px 15px;
    background-color: $clr-background;
    @include mq-desktop{
        padding: 30px 40px 15px;
        box-sizing: content-box;
    }
    &::before{
        display: block;
        position: absolute;
        top: -50px;
        left: 0;
        content: "";
        width: 100%;
        height: 50px;
        background-color: $clr-background;
        border-radius: 40px 40px 0 0;
    }
    &--2{
        display: none;
        @include mq-desktop{
            display: block;
        }
    }
    &__header{
        @include flex-center;
        justify-content: space-evenly;
        @include mq-desktop{
            justify-content: space-around;
        }
    }
    &__title{
        position: relative;
        width: min-content;
        margin: 30px 0 20px;
        transform: translateY(20px);
        opacity: 0;
        &::before{
            display: block;
            position: absolute;
            bottom: -5px;
            left: 0;
            content: '';
            width: 60%;
            height: 3px;
            background-color: $clr-tertiary;
        }
    }
    &__item{
        @include size-100;
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 75px;
        margin: 20px 0;
        overflow: hidden;
        border-radius: 15px;
        background-color: $clr-white;
        box-shadow: $box-shadow-cards;
        transform: translateY(20px);
        opacity: 0;
        &:hover{
            box-shadow: $box-shadow-cards-hover;
        }
        &--2:hover{
            box-shadow: $box-shadow-cards;
            cursor: default
        }
        &__container{
            @include flex-center;
            height: 75px;
            margin: 20px 0;
        }
    }
    &__check{
        position: absolute;
        width: 100%;
        height: 75px;
        opacity: 0;
        cursor: pointer;
        z-index: 10;
    }
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0 10px 10px;
        width: 70%;
        transition: width .4s ease-out;
        @media screen and (min-width: 350px) {
            width: 80%;
        }
        & p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__price{
        align-self: end;
        padding-bottom: 13px;
        margin-right: 20px;
        &__icon{
            display: flex;
            width: 48px;
            transition: width .4s ease-out;
        }
    }
    &__icon{
        @include flex-center;
        position: relative;
        width: 70px;
        height: 100%;
        border-radius: 0 15px 15px 0;
        background-color: $clr-tertiary;
        transition: transform .4s ease-out;
        }
    &__number{
        font-size: 1.75rem;
        font-weight: 500;
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 25%;
            margin-left: 20px;
        }
    }
    &__sign{
        @include flex-center;
        font-size: 1.75rem;
        font-weight: 500;
        background-color: $clr-tertiary;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
            box-shadow: $box-shadow-cards-hover;
        }
    }
    &__total{
        font-size: 1.75rem;
        font-weight: 600;
        text-align: right;
        margin: 30px 5px;
        &--2{
            margin-left: 15px;
        }
    }
}


// ANIMATION ITEM SLIDE-UP
$slideUp-delay: .1s;

.store__menu__title,
.store__menu__item{
    animation: item-slideUp 1s ease-out forwards;
}

#menu__title{
    &--1{animation-delay: calc($slideUp-delay * 1);}
    &--2{animation-delay: calc($slideUp-delay * 4);}
    &--3{animation-delay: calc($slideUp-delay * 8);}
}

@for $i from 1 to 11 {
    #menu__item#{$i}{
        animation-delay: calc($slideUp-delay * $i);
    }
} 
    
@keyframes item-slideUp {
    0%{
        transform: translateY(20px);
        opacity: 0;
    };
    100%{
        transform: translateY(0);
        opacity: 1;
    };
}


//ANIMATION COCHE 
.store__menu__check:hover ~ .store__menu{
    &__description{width: 45%;
        @media screen and (min-width: 350px) {
            width: 60%;
        }
        @media screen and (min-width: 450px) {
            width: 70%;
        }
    }
    &__price__icon{width: 110px;
        & .store__menu__icon{transform: translateX(0px)}
        & .fa-check-circle{transform: rotate(1turn)}
    }
}
