

.store__cards{
    // position: relative;
    width: 100%;
    max-width: 400px;
}

.store__menu{
    // position: absolute;
    // top: -60px;
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 0 15px;
    background-color: $clr-background;
    &::before{
        display: block;
        position: absolute;
        top: -50px;
        left: 0;
        content: "";
        width: 100%;
        height: 50px;
        background-color: #f6f6f6;
        border-radius: 40px 40px 0 0;
    }
    &__title{
        position: relative;
        width: min-content;
        margin: 30px 0 20px;
        transform: translateY(20px);
        opacity: 0;
        &::before{
            display: block;
            position: absolute;
            bottom: -5px;
            left: 0;
            content: '';
            width: 60%;
            height: 3px;
            background-color: $clr-tertiary;
        }
    }
    &__item{
        @include size-100;
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 75px;
        margin: 20px 0;
        overflow: hidden;
        border-radius: 15px;
        background-color: $clr-white;
        box-shadow: $box-shadow-cards;
        transform: translateY(20px);
        opacity: 0;
        &:hover{
            box-shadow: $box-shadow-cards-hover;
        }
    }
    &__check{
        // display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0 10px 10px;
        width: 85%;
        transition: width .4s ease-out;
        &--1{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--2{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__price{
        align-self: end;
        padding-bottom: 13px;
        margin-right: 20px;
        &__icon{
            display: flex;
            width: 11%;
            transition: width .4s ease-out;
        }
    }
    &__icon{
        @include flex-center;
        position: relative;
        width: 70px;
        height: 100%;
        border-radius: 0 15px 15px 0;
        background-color: $clr-tertiary;
        transition: transform .4s ease-out;
        }
}

.fa-check-circle{
    color: $clr-white;
    font-size: 2rem;
    transition: transform .4s ease-out;
    // transform: rotate(1turn);
}


.store__menu__check:hover ~ .store__menu__price__icon .store__menu__icon{
    transform: translateX(0px);
    // animation: item-translate .5s ease-out forwards;
}
.store__menu__check:hover ~ .store__menu__price__icon .store__menu__icon .fa-check-circle{
    transform: rotate(1turn);
    // animation: item-rotate .5s ease-out forwards;
}
.store__menu__check:hover + .store__menu__description{
    width: 66%;
    // animation: item-check .5s ease-out forwards;
}
.store__menu__check:hover ~ .store__menu__price__icon{
    width: 110px;
}

// @keyframes item-check {
//     0%{width: 85%};
//     100%{width: 66%};
// }

// @keyframes item-translate {
//     0%{transform: translateX(80px)};
//     100%{transform: translateX(0px)};
// }

// @keyframes item-rotate {
//     0%{transform: rotate(0turn)};
//     100%{transform: rotate(2turn)};
// }


.store__menu__header{
    @include flex-center;
    justify-content: space-evenly;
    @include mq-desktop{
        justify-content: space-around;
    }
}

.store__name{
    max-width: 100%;
    margin-bottom: 0;
}
#store__name--2{
    display: none;
    @include mq-desktop{
        display: block;
    }
}

.store__infos{
    position: relative;
    @include mq-desktop{
        position: absolute;
        top: -165px;
        font-size: 2rem;
        color: $clr-white;
        padding: 10px;
        left: 0;
        background-color: #6669;
        border-radius: 15px;
        backdrop-filter: blur(2px);
    }
}
.store__time{
    display: none;
    @include mq-desktop{
        display: block;
    }
}





// ANIMATION ITEM SLIDE-UP
$slideUp-delay: .1s;

.store__menu__title,
.store__menu__item{
    animation: item-slideUp 1s ease-out forwards;
}

#menu__title{
    &--1{animation-delay: calc($slideUp-delay * 1);}
    &--2{animation-delay: calc($slideUp-delay * 4);}
    &--3{animation-delay: calc($slideUp-delay * 8);}
}

@for $i from 1 to 10 {
    #menu__item#{$i}{
        animation-delay: calc($slideUp-delay * $i);
    }
} 
    
@keyframes item-slideUp {
    0%{
        transform: translateY(20px);
        opacity: 0;
    };
    100%{
        transform: translateY(0);
        opacity: 1;
    };
}



