// LOADERS VARIABLES
$loader-delay: .2s;
$loader-duration: 3s;
$loader-iteration: 1;
$body-duration: 3s;

// LOADER BODY
@keyframes body-fadeIn {
    0%{opacity: .1;}
    100%{opacity: 1;}
}

//LOADER Container
.loader__container{
    display: none;
    animation: 
        loader-container 
        calc($loader-duration * $loader-iteration) 
        forwards;
    animation-iteration-count: 1;
    animation-delay: 0;
}

@keyframes loader-container {
    0%{
        opacity: 1;
    };
    70%{
        opacity: 1;
        min-height: 100vh;
    };
    100%{
        opacity: 0;
        min-height: 0;
        height: 0;
        display: none;
    };
}

// LOADER PAGE
.loader__box{
    opacity: 0;
    height: 0;
}

@for $i from 0 to 12 {
    #loader__box--#{$i}{
        animation: 
            loader-boxes 
            $loader-duration 
            $loader-iteration 
            ease-in-out 
            calc($loader-delay * $i)
            forwards;
    };
}

@keyframes loader-boxes{
    0%{opacity: 0;color: $clr-secondary};
    20%{opacity: 1;color: $clr-secondary};
    50%{opacity: 1;color: $clr-tertiary};
    80%{opacity: 1;color: $clr-tertiary};
    90%{opacity: 1;color: $clr-tertiary;};
    100%{opacity: 0;color: $clr-tertiary;
    };
}

