$clr-white:      #ffffff;
$clr-black-font: #040a0c;

$clr-primary:      #9356DC;
$clr-secondary:    #FF79DA;
$clr-tertiary:     #99E2D0;
$clr-tertiary-2:   #bdffee;
$clr-background:   #f6f6f6;
$clr-bg-map:       #eaeaea;
$clr-green:        #008766;
$clr-pink:         #f5edff;
$clr-grey:         #7e7e7e;
$clr-grey-dark:    #353535;
$clr-red:          #ff0565;

$width-store-ctnr: 1200px;

$breakpoints:(
    tablet: 768px,
    desktop: 975px,
);

/* BOX-SHADOW */
$box-shadow: 0px 5px 10px #0003;
$box-shadow-inset: inset 0px 11px 7px -11px rgba(0,0,0,0.28);
$box-shadow-cards: 0 0 10px #0003;
$box-shadow-cards-hover: 0 0 10px #0007;

/* TEXT SHADOW */
$text-shadow-white: 0 0 2px $clr-white;