$colour-primary: #15DEA5;
$colour-secondary: #001534;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;

$clr-primary:    #9356DC;
$clr-secondary:  #FF79DA;
$clr-tertiary:   #99E2D0;
$clr-background: #f6f6f6;
$clr-bg-map:     #eaeaea;
$clr-bg-map:     #eaeaea;
$clr-green :     #39a98e;
$clr-green-2:    #008766;
$clr-pink:       #f5edff;
$clr-grey-dark:  #353535;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

$breakpoints:(
    tablet: 768px,
    desktop: 975px,
);

$box-shadow-inset: inset 0px 11px 7px -11px rgba(0,0,0,0.28);